<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.doctorworkstation.MedicalrecordMapper" >
	
	<select id="listMM"  resultType="com.po.Medicalrecord">
		  SELECT m.*,r.registercode,p.cardcode AS cardcode,p.patientname AS patientName,em.employeename AS employeeName ,
		   dt.departmentname AS departmentName,d.diseasename AS diseaseName
			FROM medicalrecord m 
			LEFT JOIN register r ON r.id = m.registerid 
			LEFT JOIN patient p ON p.id = r.patientid 
			LEFT JOIN employee em ON em.id = m.doctorid 
			LEFT JOIN employee e ON e.id = m.doctorid 
			LEFT JOIN department dt ON dt.id = e.departmentid 
			LEFT JOIN disease d ON d.id = m.diseaseid 
			<where>
				m.isvalid = 1
				<if test=" m.cardcode != null and m.cardcode != '' ">
					AND p.cardcode LIKE "%"#{m.cardcode}"%" 
				</if>
				<if test=" m.doctorId >0 ">
					AND em.id= #{m.doctorId}
				</if>
				<if test=" m.departmentId >0 ">
					AND e.`departmentid` = #{m.departmentId}
				</if>
				<if test=" m.patientName != null and m.patientName != ''">
					AND p.`patientname` LIKE "%"#{m.patientName}"%" 
				</if>
				<if test=" m.medicalrecordName != null and m.medicalrecordName != ''">
					AND m.`medicalrecordname`LIKE "%"#{m.medicalrecordName}"%"  
				</if>
			</where>			
		LIMIT #{currentpage},#{pagesize}
	</select>
	<select id="countMM" resultType="Integer">
		select count(*) from medicalrecord WHERE isvalid = 1
	</select>
	<select id="getMM"  resultType="com.po.Medicalrecord">
		SELECT * FROM  medicalrecord WHERE medicalrecordcode LIKE "%"#{medicalrecordcode}"%"  
	</select>
	<select id="getIdMM"  resultType="com.po.Medicalrecord">
		SELECT * FROM  medicalrecord WHERE id=#{id}
	</select>
	
	<insert id="addmm">
		INSERT INTO medicalrecord (registerid, medicalrecordcode, medicalrecordname,  doctorid, diseaseid, note, 
      patientappeal, medicalhistory, physicalstatus,  primarydiagnosis, opinion, recordtime,  isvalid)
    VALUES (#{registerId}, #{medicalrecordCode}, #{medicalrecordName}, 
      #{doctorId}, #{diseaseId}, #{note}, 
      #{patientappeal}, #{medicalhistory}, #{physicalstatus}, 
      #{primaryDiagnosis}, #{opinion}, #{recordTime}, 
      #{isvalId})
	</insert>
	
	<update id="updateMM"  parameterType="com.po.Medicalrecord">
		 UPDATE medicalrecord
	    <set>
	      <if test="registerId != null" >   registerid = #{registerId},  </if>
	      <if test="medicalrecordCode != null" >  medicalrecordcode = #{medicalrecordCode}, </if>
	      <if test="medicalrecordName != null" > medicalrecordname = #{medicalrecordName},  </if>
	      <if test="doctorId != null" > doctorid = #{doctorId}, </if>
	      <if test="diseaseId != null" >   diseaseid = #{diseaseId}, </if>
	      <if test="note != null" >  note = #{note}, </if>
	      <if test="patientappeal != null" > patientappeal = #{patientappeal},</if>
	      <if test="medicalhistory != null" >  medicalhistory = #{medicalhistory},  </if>
	      <if test="physicalstatus != null" > physicalstatus = #{physicalstatus},</if>
	      <if test="primaryDiagnosis != null" > primarydiagnosis = #{primaryDiagnosis},  </if>
	      <if test="opinion != null" >opinion = #{opinion},  </if>
	      <if test="recordTime != null" > recordtime = #{recordTime}, </if>
	      <if test="isvalId != null" > isvalid = #{isvalId}, </if>
	    </set>
	    WHERE id = #{id}
		
	</update>
</mapper>