<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.doctorworkstation.DeparTmentMapper" >
	
	<select id="listDTM"  resultType="com.po.Department">
			SELECT * FROM  department
	</select>
	<select id="getDTM" resultType="com.po.Department">
		
	 SELECT * FROM department d  WHERE d.`id`=#{id}
	
	</select>
	
	<select id="getEDTM"  resultType="com.po.Department">
		
		 SELECT d.departmentname FROM department d
			LEFT JOIN employee e ON e.departmentid = d.id WHERE e.`id`=#{id}
	
	</select>
	
</mapper>